In [1]:
import pandas as pd

In [2]:
data = {
 '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'], '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키' : [197, 184, 168, 187, 188, 202, 188, 190],
 '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
 '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
 '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
 '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
 '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data, type(data)

({'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
  '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
  '키': [197, 184, 168, 187, 188, 202, 188, 190],
  '국어': [90, 40, 80, 40, 15, 80, 55, 100],
  '영어': [85, 35, 75, 60, 20, 100, 65, 85],
  '수학': [100, 50, 70, 70, 10, 95, 45, 90],
  '과학': [95, 55, 80, 75, 35, 85, 40, 95],
  '사회': [85, 25, 75, 80, 10, 80, 35, 95],
  'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']},
 dict)

In [6]:
df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [17]:
df.to_csv('data/score.csv', encoding='utf-8-sig')

In [9]:
df.to_csv('data/score.csv', index=False)

In [11]:
df.to_csv('data/score.txt', sep='\t')

In [23]:
df = pd.read_csv('data/score.csv')
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [25]:
df = pd.read_csv('data/score.csv', skiprows=1)
df

   1번  채치수  북산고  197   90   85  100  95  85.1      Python
0  2번  정대만  북산고  184   40   35   50  55    25        Java
1  3번  송태섭  북산고  168   80   75   70  80    75  Javascript
2  4번  서태웅  북산고  187   40   60   70  75    80         NaN
3  5번  강백호  북산고  188   15   20   10  35    10         NaN
4  6번  변덕규  능남고  202   80  100   95  85    80           C
5  7번  황태산  능남고  188   55   65   45  40    35      PYTHON
6  8번  윤대협  능남고  190  100   85   90  95    95          C#

In [31]:
df = pd.read_csv('data/score.csv', skiprows=[1, 3, 5])
df

  지원번호   이름   학교    키   국어   영어  수학  과학  사회    SW특기
0   2번  정대만  북산고  184   40   35  50  55  25    Java
1   4번  서태웅  북산고  187   40   60  70  75  80     NaN
2   6번  변덕규  능남고  202   80  100  95  85  80       C
3   7번  황태산  능남고  188   55   65  45  40  35  PYTHON
4   8번  윤대협  능남고  190  100   85  90  95  95      C#

In [32]:
df = pd.read_csv('data/score.csv', skiprows=2, nrows=4)
df

   2번  정대만  북산고  184  40   35  50  55  25        Java
0  3번  송태섭  북산고  168  80   75  70  80  75  Javascript
1  4번  서태웅  북산고  187  40   60  70  75  80         NaN
2  5번  강백호  북산고  188  15   20  10  35  10         NaN
3  6번  변덕규  능남고  202  80  100  95  85  80           C

In [63]:
df = pd.read_csv('data/score.txt', sep='\t')
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [64]:
df = pd.read_csv('data/score.txt', sep='\t')
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [67]:
import pandas as pd

df = pd.read_csv('data/경찰청_범죄 발생 지역별 통계_20221231.csv', encoding='euc-kr')
df

,범죄대분류,범죄중분류,서울,부산,대구,인천,광주,대전,울산,세종,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
0,강력범죄,살인기수,35,29,16,14,1,6,8,2,...,1,2,1,2,5,0,1,3,4,19
1,강력범죄,살인미수등,68,24,15,38,2,11,7,3,...,2,0,3,1,11,1,4,4,1,43
2,강력범죄,강도,118,43,31,30,10,17,10,2,...,1,1,0,0,12,5,1,4,1,28
3,강력범죄,강간,1200,347,215,340,152,200,112,26,...,6,12,36,41,77,19,17,78,18,375
4,강력범죄,유사강간,219,83,43,61,32,34,14,6,...,0,2,3,2,14,4,8,13,3,52
5,강력범죄,강제추행,4358,1064,648,1030,391,500,311,73,...,23,25,66,97,232,38,84,201,18,848
6,강력범죄,기타강간강제추행등,35,14,9,16,8,2,10,1,...,1,1,0,1,5,2,0,3,1,23
7,강력범죄,방화,217,89,50,70,35,40,28,8,...,5,5,4,10,24,5,9,20,0,114
8,절도범죄,절도범죄,37594,13699,9792,8895,5204,6034,3283,1110,...,308,342,1158,2114,3426,387,886,2247,43,9454
9,폭력범죄,상해,3353,2478,1568,1545,641,831,683,119,...,121,113,221,251,635,134,213,351,16,2612
10,폭력범죄,폭행,26509,8474,5629,8040,3430,4166,2574,400,...,168,246,803,800,2289,334,625,2169,53,5704
11,폭력범죄,체포감금,243,66,41,100,33,31,35,3,...,1,3,3,9,18,0,4,21,4,58
12,폭력범죄,협박,4162,1402,933,1411,424,595,397,86,...,55,54,141,127,311,61,109,386,82,1345
13,폭력범죄,약취유인,72,17,7,18,8,2,5,2,...,0,0,1,5,1,0,0,1,1,11
14,폭력범죄,폭력행위등,1075,572,277,501,196,211,198,25,...,20,17,47,33,127,47,56,97,4,352
15,폭력범죄,공갈,1056,503,189,591,113,232,71,25,...,13,7,50,59,126,21,28,72,465,358
16,폭력범죄,손괴,10240,3730,2716,3089,1457,1696,1079,250,...,102,107,302,387,1095,155,374,881,13,3486
17,지능범죄,직무유기,353,130,64,95,31,33,18,26,...,2,1,8,4,14,15,0,16,37,166
18,지능범죄,직권남용,392,156,47,78,64,51,19,21,...,2,0,18,10,14,5,4,19,58,128
19,지능범죄,증수뢰,71,17,7,21,11,13,7,1,...,0,0,3,2,7,0,0,1,11,31
20,지능범죄,통화,172,20,27,29,10,7,1,3,...,0,0,0,1,2,0,0,2,12,13
21,지능범죄,문서인장,2033,897,459,581,319,336,206,70,...,27,19,62,57,184,28,35,146,626,843
22,지능범죄,유가증권인지,25,7,3,0,1,0,0,0,...,0,0,0,1,0,0,0,1,2,1
23,지능범죄,사기,52034,26847,14836,16652,8249,11734,5615,1528,...,568,625,2055,2583,7204,1193,1599,3996,25191,16295
24,지능범죄,횡령,16368,4469,2643,4175,1666,1456,759,248,...,44,51,265,231,1069,117,225,646,993,2080
25,지능범죄,배임,791,273,106,184,112,105,72,13,...,7,7,17,17,70,9,12,52,176,263
26,풍속범죄,성풍속범죄,4924,1602,1125,1507,577,733,449,120,...,27,34,126,112,391,39,82,216,786,747
27,풍속범죄,도박범죄,545,384,138,239,102,181,248,13,...,2,6,23,7,53,9,13,49,110,290
28,특별경제범죄,특별경제범죄,10374,3996,1917,3025,1332,1226,794,169,...,55,66,277,376,796,114,186,595,2460,2025
29,마약범죄,마약범죄,2821,856,306,1062,129,101,107,29,...,23,18,51,55,226,62,7,44,71,1000
30,보건범죄,보건범죄,4260,2581,777,1048,431,303,347,60,...,71,54,93,104,291,68,47,170,108,856
31,환경범죄,환경범죄,50,243,16,87,7,23,29,7,...,36,46,7,31,71,33,11,21,49,574
32,교통범죄,교통범죄,32013,12176,12610,11926,7827,6389,5754,1031,...,574,751,1573,1376,4023,825,1382,3052,323,20094
33,노동범죄,노동범죄,83,37,19,14,9,21,1,0,...,1,1,6,7,5,0,9,27,13,32
34,안보범죄,안보범죄,61,13,6,7,4,4,4,2,...,0,0,0,1,1,0,2,1,12,9
35,선거범죄,선거범죄,552,138,128,104,104,50,50,14,...,3,18,25,16,53,7,21,29,124,461
36,병역범죄,병역범죄,935,164,207,400,109,68,64,20,...,8,4,25,13,56,9,12,27,303,214
37,기타범죄,기타범죄,48367,24440,8821,17865,5177,5758,4016,1009,...,401,527,1348,1286,5339,3261,1455,3575,8013,23631